<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="nav-link" href="#"> <i class="fas fa-shopping-cart"></i> Shopping Cart</a>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{!-- <i class="fa fa-user"></i> --}}
                <i class="fas fa-user" aria-hidden="true"></i>
                User Management
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                {{# if login}}
                    <a class="dropdown-item text-center" href="/user/profile">User Account </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="/user/logout">Logout</a>
                {{ else}}
                    <a class="dropdown-item text-center" href="/user/signin">Sign In</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="/user/signup">Sign Up</a>
                {{/if}}
            </div>
            </li>
        </div>
</nav>