<div class="row  no-gutters  justify-content-md-center mt-auto">
    <div class="col-sm-10 col-md-6 ">
        <form action="/user/signin" method="post">

            <h1 class="text-center">Checkout</h1>
            <h5 class="text-right">Your Total : $20 </h5>
            <div class="form-row">

                <div class="col-12">
                    <div class="form-group ">
                        <label for="name">Name</label>
                        <input name="name" type="name" class="form-control" id="name" aria-describedby="nameHelp">
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="col-12">

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input name="address" type="text" class="form-control" id="address">
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="col-12">
                    <div class="form-group">
                        <label for="cardName">Card Holder Name</label>
                        <input name="cardName" type="text" class="form-control" id="cardName">
                    </div>

                </div>
            </div>
            <div class="form-row">

                <div class="col-12">

                    <div class="form-group">
                        <label for="cardNumber">Credit Card Number</label>
                        <input name="cardNumber" type="text" class="form-control" id="cardNumber">
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label for="cardExpiryYear">Expiration Year</label>
                        <input name="cardExpiryYear" type="text" class="form-control" id="cardExpiryYear">
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label for="cardExpiryMonth">Expiration Month</label>
                        <input name="cardExpiryMonth" type="text" class="form-control" id="cardExpiryMonth">
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label for="cardCvc">Expiration Year</label>
                        <input name="cardCvc" type="text" class="form-control" id="cardCvc">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Buy Now</button>
            </div>
        </form>
    </div>
</div>